@import '../../../pper-vue-kernal/src/assets/style/color.scss';
$color-primary: #409eff !global; // 主色
$color-info: #909399 !global;
$color-success: #67c23a !global;
$color-warning: #e6a23c !global;
$color-danger: #f56c6c !global;

$color-text-main: #303133 !global;
$color-text-normal: #606266 !global;
$color-text-white: #ffffff !global;
$color-text-sub: #909399 !global;
$color-text-placehoder: #c0c4cc !global;

$color-border-1: #dcdfe6 !global;
$color-border-2: #e4e7ed !global;
$color-border-3: #ebeef5 !global;
$color-border-4: #f2f6fc !global;
$color-bg: #f5f5f5 !global;
@import '../../../pper-vue-kernal/src/assets/style/register.scss';
